*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    background-color: #2b2b2b;
}
header h1{
    color: white;
    padding: 1.5rem;
    font-size: 3rem;
}
#vyber{
    display: flex;
    background-color: antiquewhite;
    padding: 1rem;
    gap: 2rem;
}
.vyber-div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.vyber-div p{
    font-size: 1.5rem;
    font-weight: bold;
}
.vyber-div select{
    font-size: 1.5rem;
    border-radius: 5px;
}
